$primary-text = rgb(84, 81, 73)
$secondary-text = rgb(254, 215, 1)
$primary-bg = rgb(242,240,235)
$secondary-bg = rgb(64, 86, 161)
$box-shadow = 0 0 5px 2px alpha($primary-text 0.1)
$border-radius = 4px
$card-item-border = 1px solid alpha($primary-text 0.2)

body,html
  font-family 'Open Sans', sans-serif
  font-size 16px
  color $primary-text
